/* Dashboard Page */
.dashboard-container {
    /* background-color: #112D3E; */
    color: white;
    padding: 32px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #093545;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .dashboard-header {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  
  .dashboard-card {
    background-color: #123847;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
  }
  
  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
  
  .dashboard-item {
    grid-column: span 4; /* Adjust this based on item size */
  }
  
  .dashboard-button {
    background-color: #29CB74;
    border: none;
    padding: 16px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .dashboard-button:hover {
    background-color: #26b467;
  }